<!-- public/views/login.html -->

<!-- Try to turn off as many bots as possible -->

<!--googleoff: all-->
<!--noindex-->
<div class="jumbotron text-center robots-nocontent">
    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div ng-if="loggedin" class="inner">
                <h2> 
                    <div class="ng-bind: login_header || 'Enter text'"></div>
                </h2>
                <div> 
                    <p id="login_sentence" contenteditable="true" class="ng-bind: item_main[0].login_sentence || 'Enter text'"></p>
                    <i class="fa fa-check savebutton left tooltip" ng-click="save_sentence_login()"><span class="tooltiptext">Save changes</span></i>
                    <i class="fa fa-times undobutton left tooltip" ng-click="undo_sentence_login()"><span class="tooltiptext">Undo changes</span></i>
                </div>
			</div>
		    <div ng-if="!loggedin" class="inner">
                <h2>{{ login_header }}</h2>
                <p>{{ item_main[0].login_sentence }}</p>
			</div>
		</header>
        <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <div ng-if="loggedin">
                    <h2 class="major">
                        <div id="login_summary_header" contenteditable="true" class="ng-bind: item_main[0].login_summary_header || 'Enter text'"></div>
                    </h2>
                    <div> 
                        <div id="login_summary_text" contenteditable="true" class="ng-bind: item_main[0].login_summary_text || 'Enter text'"></div>
                        <br>
                        <i class="fa fa-times undobutton right tooltip" ng-click="undo_summary_login();"><span class="tooltiptext">Undo changes</span></i>
                        <i class="fa fa-check savebutton right tooltip" ng-click="save_summary_login();"><span class="tooltiptext">Save changes</span></i>
                        <br><br>
                    </div>
                </div>
                <div ng-if="!loggedin">
                    <h2 class="major">{{ item_main[0].login_summary_header }}</h2>
                    <p>{{ item_main[0].login_summary_text }}</p>
                </div>

                <form>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" ng-model="email" />
                    </div>
                    <div class="field">
                        <label for="message">Password</label>
                        <input type="password" name="password" id="password" ng-model="password"></input>
                    </div>
                    <div class="field" ng-show="change_password && loggedin">
                        <label for="message">New password</label>
                        <input type="password" name="new_password" id="new_password" ng-model="new_password"></input>
                    </div>
                    <ul class="actions" ng-if="loggedin">
                        <li><input type="submit" value="Log out" ng-click="send_logout()" /></li>
                        <li><input type="submit" value="{{ change_password == null ? 'Change pasword' : 'Send change' }}" ng-click="send_change_password()" /></li>
                        <li><input type="submit" value="{{ test != null ? test : 'Test login' }}" ng-click="send_test()" /></li>
                    </ul>
                    <ul class="actions" ng-if="loggedin == null || !loggedin">
                        <li><input type="submit" value="{{ logged_in != null ? logged_in : 'Log in' }}" ng-click="send_login()" /></li>
                        <li><input type="submit" value="{{ signed_up != null ? signed_up : 'Sign up' }}" ng-click="send_signup()" /></li>
                    </ul>
                </form>

            </div>
        </div>
    </section>
</div>
<!--googleon: all-->
<!--/noindex-->
